@model L.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FreedomSquare.js")" type="text/javascript"></script>
}

@section styles{
    <link href="@Url.Content("~/Content/Multiscreen.css")" rel="stylesheet" type="text/css" />
}

<div class="main-screen">
    <section class="left-container">
        @Html.Partial("_Profile")
    </section>

    <section class="right-container" id="rightContainer">
        <div id="wrap">
            <div id="box"></div>
            <div id="boxTow"></div>
        </div>
    </section>
</div>

<div class="row-wrap">
    <div class="row main">
        <p>履歴書　|　<a href="@Url.Content(@Model.PdfJobSheetKey)" target="_blank">履歴書開く</a></p>  
        <p>職務経歴書(スキルシート)　|<a href="@Url.Content(@Model.PdfJobSkillSheetKey)" target="_blank">職務経歴書(スキルシート)開く</a></p>
    </div>
</div>